@charset "UTF-8";

/* Global configurations */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(250, 200, 170);
}

/* Header configurations */

header {
    text-align: center;
    padding: 10px;
}
header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 2px black;
    font-size: 5vh;
}

/* Main configurations */

main {
    background-color: white;
    text-align: center;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px black;
}

/* Section configurations */

section > div#age input[type=number] {
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section > div#age label[for=Sex]{
    padding-right: 10px;
    font-weight: bolder;
}
section > div#age input[type=button]{ 
    margin: 10px auto;
    font-weight: bold;
    width: 60px;
    height: 20px;
}
section > div#image{
    margin: 10px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
}
section > div#image > img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}
section > div#res {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

/* Footer configurations */

footer {
    text-align: center;
}
footer > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}