@charset "UTF-8";

/* Global configurations */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(250, 200, 170);
}

/* Header configurations */

header {
    text-align: center;
    padding: 10px;
}
header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 2px black;
    font-size: 5vh;
}

/* Main configurations */

main {
    background-color: white;
    text-align: center;
    width: 600px;
    height: 360px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px black;
}

/* Section configurations */

section {
    
}
section > div#hour { 

}
section > div#res{
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
}
section > div#res > img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}
/* Footer configurations */

footer {
    text-align: center;
}
footer > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}