@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    --primary-color: rgb(178, 217, 230);
}

* {
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: rgba(193, 193, 193, 0.859);
    padding: 20px;
    border-radius: 10px;
}

table {
    margin: auto;
}
table td {
    padding: 0px 30px;
}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: rgba(50, 50, 50, 0.807);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: rgba(86, 86, 86, 0.807);
}
form button:active {
    background-color: rgba(95, 95, 95, 0.807);
}

.error-text {
    font-size: 12px;
    color: red;
}