@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(0, 0, 255, 0.627);
    font: normal 20px Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

header {
    padding: 15px;
}

section {
    display: block;
    background-color: white;
    color: black;
    width: 500px;
    /* height: 350px; */
    border-radius: 12px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.500);
}

section div, section div > p {
    text-align: left;
    padding: 10px 0;
}

#foto {
    border-radius: 50%;
    width: 300px;
    height: 250px;
}

section > div#horario {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-bottom: 50px;
}







footer {
    padding: 15px;

}